<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>账户开户</title>

    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/openingaccount.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{ asset('web/js/html5shiv.js') }}"></script>
      <script src="{{ asset('web/js/respond.min.js') }}"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>

          </button>
          <a class="navbar-brand" href="#">欢迎</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Lake</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar-fixed-top/">登出</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="bigtitle">
        <h1 style="font-size:62px">证券账户系统</h1>
        <br /> <br />
      </div>

    
    
	    <ol class="breadcrumb">
	  		<li><a href="#">主界面 </a></li>
	  		<li><a href="#">开户（法人） </a></li>
	  		<li class="active">账户信息确认 </li>
			</ol>
			

      <div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading" style="font-size:22px">信息核对表
				  <div class="panel-body" style="font-size:16px">
	    			<p>请用户核对账户信息是否正确 </p>	
					</div>

				  <!-- Table -->
				  	
				  <table class="table">
				  	
				  	<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">股票帐户号码</span>
							  <input type="text" class="form-control" placeholder="12345678"  readonly="readonly">
							</div>
						</div>
						<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">注册登记号码</span>
							  <input type="text" class="form-control" placeholder="12345678"  readonly="readonly">
							</div>
						</div>
						<br /> <br />
				  	<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">营业执照号码</span>
							  <input type="text" class="form-control" placeholder="12345678"  readonly="readonly">
							</div>
						</div>
						<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">代表人身份证号码</span>
							  <input type="text" class="form-control" placeholder="12345678"  readonly="readonly">
							</div>
						</div>
						<br /> <br />
				  	<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">姓名</span>
							  <input type="text" class="form-control" placeholder="12345678"  readonly="readonly">
							</div>
						</div>
						<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">联系电话</span>
							  <input type="text" class="form-control" placeholder="12345678"  readonly="readonly">
							</div>
						</div>
						<br /> <br />
				  	<div class="col-md-12">
					    <div class="input-group">
							  <span class="input-group-addon">联系地址</span>
							  <input type="text" class="form-control" placeholder="12345678"  readonly="readonly">
							</div>
						</div>
						<br /> <br />
						<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">授权交易人</span>
							  <input type="text" class="form-control" placeholder="12345678"  readonly="readonly">
							</div>
						</div>
						<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">授权人身份证号码</span>
							  <input type="text" class="form-control" placeholder="12345678"  readonly="readonly">
							</div>
						</div>
						<br /> <br />
						<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">授权人联系电话</span>
							  <input type="text" class="form-control" placeholder="12345678"  readonly="readonly">
							</div>
						</div>
						<br /> <br />
				  	<div class="col-md-12">
					    <div class="input-group">
							  <span class="input-group-addon">授权人地址</span>
							  <input type="text" class="form-control"placeholder="12345678"  readonly="readonly" >
							</div>
						</div>
						
						<br /> <br />

						<div class="col-md-6" align="center">
						  <button type="button" class="btn btn-success btn-lg btn-block">确认正确</button>
						</div>
						<div class="col-md-6" align="center">
						  <button type="button" class="btn btn-danger btn-lg btn-block">返回修改</button>
						</div>
					</table>
				</div>
      </div>  
     

			<hr>
		<div class="container">
      <footer>
        <p>&copy; SESS GROUP 2014</p>
      </footer>
    </div> <!-- /container -->

    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('web/js/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
  </body>
</html>
	