<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>账户开户</title>

    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/openingaccount.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{ asset('web/js/html5shiv.js') }}"></script>
      <script src="{{ asset('web/js/respond.min.js') }}"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>

          </button>
          <a class="navbar-brand" href="{{path('index'))}}">欢迎！</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><p class="navbar-text">管理员: {{username}}<p></li>
            <li><p class="navbar-text">营业部: {{bankname}}<p></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path("logout") }}">登出</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
        <h1 class="bigtitle">证券账户系统</h1>
    
    
	    <ol class="breadcrumb">
	  		<li><a href="{{path('index')}}">主界面 </a></li>
	  		<li>法人证券账户管理</li>
	  		<li class="active">账户信息确认 </li>
			</ol>
			

        <div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading" style="font-size:22px">信息核对表
				  <div class="panel-body" style="font-size:16px">
	    			<p>请用户核对账户信息是否正确 </p>	
					</div>

				  <!-- Table -->
				  	
				  <table class="table">
				  	
				  	<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">股票帐户号码</span>
							  <input type="text" class="form-control" placeholder="{{customer_id}}"  readonly="readonly">
							</div>
						</div>
						<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">注册登记号码</span>
							  <input type="text" class="form-control" placeholder="{{register_id}}"  readonly="readonly">
							</div>
						</div>
						<br /> <br />
				  	<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">营业执照号码</span>
							  <input type="text" class="form-control" placeholder="{{license_id}}"  readonly="readonly">
							</div>
						</div>
						<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">代表人身份证号码</span>
							  <input type="text" class="form-control" placeholder="{{id_number}}"  readonly="readonly">
							</div>
						</div>
						<br /> <br />
				  	<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">姓名</span>
							  <input type="text" class="form-control" placeholder="{{name}}"  readonly="readonly">
							</div>
						</div>
						<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">联系电话</span>
							  <input type="text" class="form-control" placeholder="{{phone}}"  readonly="readonly">
							</div>
						</div>
						<br /> <br />
				  	<div class="col-md-12">
					    <div class="input-group">
							  <span class="input-group-addon">联系地址</span>
							  <input type="text" class="form-control" placeholder="{{address}}"  readonly="readonly">
							</div>
						</div>
						<br /> <br />
						<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">授权交易人</span>
							  <input type="text" class="form-control" placeholder="{{auth_name}}"  readonly="readonly">
							</div>
						</div>
						<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">授权人身份证号码</span>
							  <input type="text" class="form-control" placeholder="{{auth_id}}"  readonly="readonly">
							</div>
						</div>
						<br /> <br />
						<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">授权人联系电话</span>
							  <input type="text" class="form-control" placeholder="{{auth_phone}}"  readonly="readonly">
							</div>
						</div>
						<br /> <br />
				  	<div class="col-md-12">
					    <div class="input-group">
							  <span class="input-group-addon">授权人地址</span>
							  <input type="text" class="form-control"placeholder="{{auth_address}}"  readonly="readonly" >
							</div>
						</div>
						
						<br /> <br />
                        
						<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">开户行</span>
							  <input type="text" class="form-control" placeholder="{{bank}}"  readonly="readonly">
							</div>
						</div>
                        <br/>
                        <br/>   

						<div class="col-md-6" align="center">
						  <a type="button" class="btn btn-success btn-lg btn-block" href="{{path('confirmCompany_api')}}?confirm=1&customer_id={{customer_id}}">确认正确</a>
						</div>
						<div class="col-md-6" align="center">
						  <a type="button" class="btn btn-danger btn-lg btn-block" href="{{path('confirmCompany_api')}}?confirm=0&customer_id={{customer_id}}">返回修改</a>
						</div>
					</table>
				</div>
      </div>  
     

			<hr>
		<div class="container">
      <footer>
        <p>&copy; SESS GROUP 2014</p>
      </footer>
    </div> <!-- /container -->

    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
  </body>
</html>
	