<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>账户开户</title>

    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/mainpage.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{ asset('css/bootstrap.min.css') }}"></script>
      <script src="{{ asset('web/js/respond.min.js') }}"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>

          </button>
          <a class="navbar-brand" href="{{path('index')}}">欢迎</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><p class="navbar-text">管理员: {{username}}<p></li>
            <li><p class="navbar-text">营业部: {{bankname}}<p></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path("logout") }}">登出</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
        {% for notice in app.session.flashbag.get('notice') %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ notice }}
            </div>
        {% endfor %}
        {% for alert in app.session.flashbag.get('alert') %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ alert }}
            </div>
        {% endfor %}

        <h1 class="bigtitle">证券账户系统</h1>

	    <ol class="breadcrumb">
	  		<li><a href="{{path('index')}}">主界面</a></li>
            <li>法人证券账户管理</li>
	  		<li class="active">账户开户</li>
        </ol>
			

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3>开户申请表</h3>
                <strong>请要求用户提供相关证件并完成申请表</strong>
            </div>
            <div class="panel-body">
                <form class="form" role="form" action="{{ path('openCompany_api') }}" method="post">
                    <div class="row form-group">
					    <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">注册登记号码</span>
                                {% if is_open %}
                                    <input type="text" class="form-control" name="register_id">
                                {% else %}
                                    <input type="text" class="form-control" name="register_id" value="{{customer['register_id']}}">
                                {% endif %}
                            </div>
                        </div>
					    <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">营业执照号码</span>
                                {% if is_open %}
                                    <input type="text" class="form-control" name="license_id">
                                {% else %}
                                    <input type="text" class="form-control" name="license_id" value="{{customer['license_id']}}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">代表人身份证号码</span>
                                {% if is_open %}
                                    <input type="text" class="form-control" name="id_number">
                                {% else %}
                                    <input type="text" class="form-control" name="id_number" value="{{customer['id_number']}}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">姓名</span>
                                {% if is_open %}
                                    <input type="text" class="form-control" name="name">
                                {% else %}
                                    <input type="text" class="form-control" name="name" value="{{customer['name']}}">
                                {% endif %}
                            </div>
                        </div>
						<div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">联系电话</span>
                                {% if is_open %}
                                    <input type="text" class="form-control" name="phone">
                                {% else %}
                                    <input type="text" class="form-control" name="phone" value="{{customer['phone']}}">
                                {% endif %}
							</div>
						</div>
                    </div>
				  	<div class="form-group">
					    <div class="input-group">
                            <span class="input-group-addon">联系地址</span>
                            {% if is_open %}
                                <input type="text" class="form-control" name="address">
                            {% else %}
                                <input type="text" class="form-control" name="address" value="{{customer['address']}}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
						<div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">授权人身份证号码</span>
                                {% if is_open %}
                                    <input type="text" class="form-control" name="auth_id">
                                {% else %}
                                    <input type="text" class="form-control" name="auth_id" value="{{customer['auth_id']}}">
                                {% endif %}
							</div>
						</div>
						<div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">授权交易人</span>
                                {% if is_open %}
                                    <input type="text" class="form-control" name="auth_name">
                                {% else %}
                                    <input type="text" class="form-control" name="auth_name" value="{{customer['auth_name']}}">
                                {% endif %}
							</div>
						</div>
						<div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon">授权人联系电话</span>
                                {% if is_open %}
                                    <input type="text" class="form-control" name="auth_phone">
                                {% else %}
                                    <input type="text" class="form-control" name="auth_phone" value="{{customer['auth_phone']}}">
                                {% endif %}
							</div>
						</div>
                    </div>
				  	<div class="form-group">
					    <div class="input-group">
                            <span class="input-group-addon">授权人地址</span>
                            {% if is_open %}
                                <input type="text" class="form-control" name="auth_address">
                            {% else %}
                                <input type="text" class="form-control" name="auth_address" value="{{customer['auth_address']}}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
						<div class="col-md-6" align="center">
                            <button role="button" class="btn btn-success btn-lg btn-block" type="submit">提交</button>
						</div>
						<div class="col-md-6" align="center">
                            <a role="button" class="btn btn-danger btn-lg btn-block" href="{{path('index')}}">取消</a>
						</div>
                    </div>
				</form>
            </div>
        </div>  
     
        <hr>
        <footer>
            <p>&copy; SESS GROUP 2014</p>
        </footer>
    </div> <!-- /container -->

    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
  </body>
</html>
	