<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>账户开户</title>

    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/openingaccount.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{ asset('css/bootstrap.min.css') }}"></script>
      <script src="{{ asset('css/openingaccount.css') }}"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>

          </button>
          <a class="navbar-brand" href="#">欢迎</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Lake</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path("logout") }}">登出</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="bigtitle">
        <h1 style="font-size:62px">证券账户系统</h1>
        <br /> <br />
      </div>

    
    
	    <ol class="breadcrumb">
	  		<li><a href="#">主界面</a></li>
	  		<li class="active">账户开户（个人）</li>
			</ol>
			

      <div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading" style="font-size:22px">申请表
				  <div class="panel-body" style="font-size:16px">
	    			<p>请要求用户提供相关证件并完成申请表</p>	
					</div>

                <form class="form-horizontal" role="form" action="{{ path('openPersonal_api') }}" method="post">
				  <!-- Table -->
				  	
				  <table class="table">
				  	
				  	<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">个人股票帐户号码</span>
							  <input type="text" class="form-control" name="person_stock">
							</div>
						</div>
						<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">登记日期</span>
							  <input type="text" class="form-control"name="datetime" >
							</div>
						</div>
						<br /> <br />
				  	<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">姓名</span>
							  <input type="text" class="form-control" name="name">
							</div>
						</div>
						<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">性别</span>
							  <input type="text" class="form-control" name="gender">
							</div>
						</div>
						<br /> <br />
				  	<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">学历</span>
							  <input type="text" class="form-control" name="education">
							</div>
						</div>
						<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">身份证号码</span>
							  <input type="text" class="form-control" name="id_no">
							</div>
						</div>
						<br /> <br />
				  	<div class="col-md-12">
					    <div class="input-group">
							  <span class="input-group-addon">家庭地址</span>
							  <input type="text" class="form-control" name="address">
							</div>
						</div>
						<br /> <br />
						<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">职业</span>
							  <input type="text" class="form-control"name="job" >
							</div>
						</div>
						<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">工作单位</span>
							  <input type="text" class="form-control" name="company">
							</div>
						</div>
						<br /> <br />
						<div class="col-md-6">
					    <div class="input-group">
							  <span class="input-group-addon">联系电话</span>
							  <input type="text" class="form-control" name="phone">
							</div>
						</div>
						
						<br /> <br />

						<div class="col-md-6" align="center">
						  <button type="button" class="btn btn-success btn-lg btn-block" type="submit">提交</button>
						</div>
						<div class="col-md-6" align="center">
						  <button type="button" class="btn btn-danger btn-lg btn-block">取消</button>
						</div>
					</table>
				</form>
			  </div>

      </div>  
     

			<hr>
		<div class="container">
      <footer>
        <p>&copy; SESS GROUP 2014</p>
      </footer>
    </div> <!-- /container -->

    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('web/js/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
  </body>
</html>
	