<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>查看账户信息</title>

    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/mainpage.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{ asset('web/js/html5shiv.js') }}"></script>
      <script src="{{ asset('web/js/respond.min.js') }}"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>

          </button>
          <a class="navbar-brand" href="{{path('index')}}">欢迎!</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><p class="navbar-text">管理员: {{username}}<p></li>
            <li><p class="navbar-text">营业部: {{bankname}}<p></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path("logout") }}">登出</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {% for notice in app.session.flashbag.get('notice') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ notice }}
        </div>
    {% endfor %}
    {% for alert in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ alert }}
        </div>
    {% endfor %}
    <div class="container">

      <div class="bigtitle">
        <h1 style="font-size:62px">证券账户系统</h1>
        <br /> <br />
      </div>

    
    
	    <ol class="breadcrumb">
	  		<li><a href="path{{'index'}}">主界面</a></li>
	  		<li class="active">账户挂失</li>
			</ol>
			
			

      <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading" style="font-size:22px">查看账户信息
          <div class="panel-body" style="font-size:16px">
            <p>请要求用户出示必须的证件</p>	
            <p>个人用户请输入身份证号</p>
            <p>法人用户请输入法人注册登记号</p>

            <form class="form-horizontal" role="form" action="{{ path('viewSearch_api') }}" method="post">	  	
                <div class="col-md-3" ></div>
                <div class="col-md-6" >
                    <div class="form-group input-group">
                        <span class="input-group-addon">证件号码</span>
                        <input type="text" class="form-control"name="id" >
                    </div>
                </div>

                <div class="col-md-6" align="center">
                  <button role="button" type="submit" class="btn btn-success btn-lg btn-block">提交</button>
                </div>
                <div class="col-md-6" align="center">
                  <a role="button" class="btn btn-danger btn-lg btn-block" href="{{path('index')}}">取消</a>
                </div>
            </form>	
          </div>
      </div>
    </div>  
     

			<hr>
		<div class="container">
      <footer>
        <p>&copy; SESS GROUP 2014</p>
      </footer>
    </div> <!-- /container -->

    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('web/js/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
  </body>
</html>
	