<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>证券账户管理系统主页</title>

    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/mainpage.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{ asset('js/html5shiv.js') }}"></script>
      <script src="{{ asset('js/respond.min.js') }}"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>

          </button>
          <a class="navbar-brand" href="#">欢迎！</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Lake</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path("logout") }}">登出</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {% if notice %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{notice}}
        </div>
    {% endif
    %}
    <div class="container">
      <div class="bigtitle">
        <h1 style="font-size:62px">证券账户系统</h1>
        <br /> <br />
      </div>

    </div><!-- /.container -->
    
    <div class="container">
	    <ol class="breadcrumb">
	  		<li class="active">主界面</li>
			</ol>
    </div><!-- /.container -->

    
    
    <div class="container">
    
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">个人账户</a></li>
        <li><a href="#profile" data-toggle="tab">法人账户</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
        
        <div class="col-md-6">
          <h2>开设账户</h2>
          <p>提供给新客户开设个人证券账户的功能，需要用户提供相关的证件信息。 </p>
          <p><a class="btn btn-default" href="{{ path("openPersonal_page") }}" role="button">前往 &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>注销账户</h2>
          <p>提供个人用户证券账户注销功能，需要用户提供相关的证件信息。</p>
          <p><a class="btn btn-default" href="{{ path("cancel_page") }}" role="button">前往 &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>挂失账户</h2>
          <p>提供个人用户账户挂失功能，挂失后账户将处于冻结状态，需要用户提<br \>供相关的证件信息。</p>
          <p><a class="btn btn-default" href="{{ path("reportLoss_page") }}" role="button">前往 &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>补办账户</h2>
          <p>提供个人用户账户补办功能，补办后新账户会替代旧账户，需要用户提<br \>供相关的证件信息。</p>
          <p><a class="btn btn-default" href="{{ path("postRegister_page") }}" role="button">前往 &raquo;</a></p>
        </div>
        
        </div>
        <div class="tab-pane fade" id="profile">
        <div class="col-md-6">
          <h2>开设账户</h2>
          <p>提供给新客户开设法人证券账户的功能，需要用户提供相关的证件信息。 </p>
          <p><a class="btn btn-default" href="{{ path("openCompany_page") }}" role="button">前往 &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>注销账户</h2>
          <p>提供法人用户证券账户注销功能，需要用户提供相关的证件信息。</p>
          <p><a class="btn btn-default" href="{{ path("cancel_page")  }}" role="button">前往 &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>挂失账户</h2>
          <p>提供法人用户账户挂失功能，挂失后账户将处于冻结状态，需要用户提<br \>供相关的证件信息。</p>
          <p><a class="btn btn-default" href="{{ path("reportLoss_page") }}" role="button">前往 &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>补办账户</h2>
          <p>提供法人用户账户补办功能，补办后新账户会替代旧账户，需要用户提<br \>供相关的证件信息。</p>
          <p><a class="btn btn-default" href="{{ path("postRegister_page") }}" role="button">前往 &raquo;</a></p>
        </div>
        </div>
      </div>
    
    <script>
     $('#myTab a').click(function (e) 
     {
        e.preventDefault()
        $(this).tab('show')
     })
    </script>  
       

			<hr>

      <footer>
        <p>&copy; SESS GROUP 2014</p>
      </footer>
    </div> <!-- /container -->
			
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
  </body>
</html>
	